.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15% 0;
  text-decoration: none;
  transition: background-color .4s ease-in;
  background-color: rgba(34, 34, 34, 0.3);
}

.cover__link:hover {
  background-color: rgba(34, 34, 34, 0.8);
}
