.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20% 0;
  text-decoration: none;
  transition: background-color .4s ease-in;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 768px) {
  .cover__link {
    padding: 15% 0;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    padding: 9% 0;
  }
}
