.place__title {
  margin: 0;
  padding: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  max-width: 457px;
  color: #FFF;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
  }


@media screen and (max-width: 320px) {
  .place__title {
    margin: 0 16px;
  }
  }
  