.photo-grid {
  display: grid;
  margin: 0 auto;
  max-width: 1184px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  column-gap: 16px;
  row-gap: 16px;
  margin-left: 48px;
  margin-right: 48px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px; 
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    gap: 12px;
    margin: 0 24px;
  }
} 
@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 0 16px;
  }
} 

