.intro__list {
  margin: 0;
  padding: 0;
  margin-bottom: 92px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #FFF;
  list-style-type: none;
  margin-left: 148px;
}

@media screen and (max-width: 1279px) {
  .intro__list {
    margin-left: 48px;
  }
  } 

@media screen and (max-width: 1023px) {
  .intro__list {
    margin-left: 24px;
  }
  } 

  @media screen and (max-width: 676px) {
    .intro__list {
      margin-left: 16px;
    }
    } 