.lead {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  max-width: 984px;
  
}


@media screen and (max-width: 1280px) {
  .lead__image {
    min-height: 615px;
  }
  }

  @media screen and (max-width: 1024px) {
    .lead__image {
      min-height: 615px;
    }
    }
