.lead {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}