.lead {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  width: calc(100% - 148px * 2);
}

@media screen and (max-width: 1279px) {
  .lead {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: 100%;
  }
}