.cover__subtitle {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #FFF;
  max-width: 360px;
  text-align: center;
  margin-top: 32px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  } 