.photo-grid__item {
  width: 100%;
}

/* @media screen and (max-width: 1024px) {
  .photo-grid__item {
    min-width: 300px; 
  }
}

@media screen and (max-width: 768px) {
  .grid__item-grid {
    min-width: 300px; 
  }
}

@media screen and (max-width: 500px) {
  .grid__item-grid {
    min-width: 352px;
  }
} */