.footer__link {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 18px;
  transition: opacity .3s ease;
}

@media screen and (max-width: 766px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  }

  .footer__link:hover {
    opacity: .8;
  }
  