.place__paragraph {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
  }

  @media screen and (max-width: 320px) {
    .place__paragraph {
      margin: 0 16px;
    }
    }