.footer__copyright {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  justify-self: flex-end;
}

@media screen and (max-width: 766px) {
  .footer__copyright {
    line-height: 14px;
    margin-top: 16px;
    margin-left: 16px;
  }
  }