@font-face {
    src: url('./fonts/Inter-Regular-slnt=0.ttf');
    src: url('./fonts/Inter-Regular-slnt0.woff');
    src: url('./fonts/Inter-Regular-slnt0.woff2');
    font-family: 'Inter';
    font-weight: 400;
  }
@font-face {
    src: url('./fonts/Inter-Bold-slnt=0.ttf');
    src: url('./fonts/Inter-Bold-slnt0.woff');
    src: url('./fonts/Inter-Bold-slnt0.woff2');
    font-family: 'Inter';
    font-weight: 700;
  }
@font-face {
    src: url('./fonts/Inter-Black-slnt=0.ttf');
    src: url('./fonts/Inter-Black-slnt0.woff');
    src: url('./fonts/Inter-Black-slnt0.woff2');
    font-family: 'Inter';
    font-weight: 900;
  }

  