.lead__image {
  display: block;
  max-width: 100%;
  max-height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .lead__image {
      max-height: 615px;
  }
  }

  @media screen and (max-width: 1280px) {
    .lead__image {
        max-height: 615px;
    }
    }