.intro__text {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #FFF;
  max-width: 690px;
  margin-left: 148px;
}

@media screen and (max-width: 1279px) {
  .intro__text {
    margin-left: 48px;
  }
  } 

@media screen and (max-width: 1023px) {
  .intro__text {
    margin-left: 24px;
  }
  } 

  @media screen and (max-width: 676px) {
    .intro__text {
      margin-left: 16px;
    }
    } 
