@font-face {
  src: url('/fonts/Inter-Thin-slnt=0.ttf');
  font-family: 'Inter';
  font-weight: 100;
}
@font-face {
  src: url('/fonts/Inter-ExtraLight-slnt=0.ttf');
  font-family: 'Inter';
  font-weight: 200;
}
@font-face {
  src: url('/fonts/Inter-Light-slnt=0.ttf');
  font-family: 'Inter';
  font-weight: 300;
}
@font-face {
  src: url('/fonts/Inter-Regular-slnt=0.ttf');
  font-family: 'Inter';
  font-weight: 400;
}
@font-face {
  src: url('/fonts/Inter-Medium-slnt=0.ttf');
  font-family: 'Inter';
  font-weight: 500;
}
@font-face {
  src: url('/fonts/Inter-SemiBold-slnt=0.ttf');
  font-family: 'Inter';
  font-weight: 600;
}
@font-face {
  src: url('/fonts/Inter-Bold-slnt=0.ttf');
  font-family: 'Inter';
  font-weight: 700;
}
@font-face {
  src: url('/fonts/Inter-ExtraBold-slnt=0.ttf');
  font-family: 'Inter';
  font-weight: 800;
}
@font-face {
  src: url('/fonts/Inter-Black-slnt=0.ttf');
  font-family: 'Inter';
  font-weight: 900;
}

.root {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
}
