.cover {
  position: relative;
  max-width: 1184px;
  height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 92px;
  margin-bottom: 92px;
  transition: background-color .4s ease-in;
}

.cover:hover {
  background-color: rgba(34, 34, 34, 0.8);
}