.cover {
  max-width: 1184px;
  height: 740px;
  background-image: url(/images/cover-trains.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 92px;
  margin-bottom: 92px;
  transition: background-color .4s ease-in;
}

.cover:hover {
  background-color: rgba(34, 34, 34, 0.8);
}