.place {
  display: grid;
  /* grid-template-columns: 460px 484px; */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 40px;
  row-gap: 48px;
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 80px;
}

@media screen and (max-width: 1280px) {
  .place {
    width: 90%; 
  }
  } 

  @media screen and (max-width: 1024px) {
    .place {
      column-gap: 32px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place {
      width: 95%;
    }
  }

  @media screen and (max-width: 320px) {
    .place {
      width: 100%;
    }
  }

  
