.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  row-gap: 48px;
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
      grid-template-columns: 440px 1fr;
      gap: 48px 32px;
      width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .place {
      grid-template-columns: 340px 1fr;
      width: calc(100% - 24px * 2);
      gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
      grid-template-columns: 1fr;
  }
}
  
