.footer {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto 24px;
    /* margin/padding: верх право низ лево */
}

@media screen and (max-width: 766px) {
  .footer {
    margin-bottom: 32px;
  }
  }
