.intro__title {
  margin: 0;
  padding: 0;
  margin-top: 92px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  color: #FFF;
  margin-left: 148px;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    margin-left: 48px;
  } 
}


@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 64px;
    margin-left: 24px;
  }
  }

 @media screen and (max-width: 320px) {
    .intro__title {
      margin-left: 16px;
    } 
  } 